* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    border: border-box;
}
.nav-bar {
    height: 60px;
    background-color: black;
    display: flex;
    color: white;
    display: flex;
}
.logo-bar {
    width: 100px;
    height: 50px;
}
.logo {
    height: 50px;
    width: 1000px;
    background-color: black;
    background-image: url("amazonlogo2.jpeg");
    background-size: cover;
}